body {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.tract-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tract-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.tract-text {
  background-color: blue;
  color: white;
}

/* ASPECT RATIO DYNAMICS */

/* Tract and Comment Areas */

@media (max-aspect-ratio: 1/1) {
  .tract-area {
    height: 50vh;
    width: 100vw;
    background-color: red;
  }

  .comments-area {
    height: 50vh;
    width: 100vw;
    background-color: green;
  }
}

@media (min-aspect-ratio: 1/1) {
  .tract-area {
    height: 100vh;
    width: 50vw;
    float: left;
    background-color: purple;
  }

  .comments-area {
    height: 100vh;
    width: 50vw;
    float: left;
    background-color: orange;
  }
}

/* Detailed Layouts (4) */

/* Very Fat */

@media (min-aspect-ratio: 2/1) {
  .comments-text-area {
    padding: min(4vmin, 1vmax);
  }

  h1 {
    font-size: min(8vmin, 2vmax);
    font-weight: 700;
  }

  h2 {
    font-size: min(7vmin, 1.75vmax);
    font-weight: 700;
  }

  h3 {
    font-size: min(6vmin, 1.5vmax);
    font-weight: 700;
  }

  p {
    font-size: min(5vmin, 1.25vmax);
    font-weight: 100;
  }

  .tract-title {
    max-height: 15vmin;
    height: 3.75vmax;
    max-width: 100vmin;
    width: 25vmax;
    background-color: white;
  }

  .tract-content {
    max-height: 80vmin;
    height: 20vmax;
    max-width: 160vmin;
    width: 40vmax;
    background-color: #6e0228;
  }

  .carousel {
    max-height: 80vmin;
    height: 20vmax;
    max-width: 180vmin;
    width: 45vmax;
  }

  .carousel-left-arrow {
    max-height: 40vmin;
    height: 10vmax;
    max-width: 5vmin;
    width: 1.25vmax;
    background-color: pink;
    float: left;
  }

  .carousel-right-arrow {
    max-height: 40vmin;
    height: 10vmax;
    max-width: 5vmin;
    width: 1.25vmax;
    background-color: turquoise;
    float: left;
  }

  .tract-text {
    max-height: 76vmin;
    height: 19vmax;
    max-width: 76vmin;
    width: 19vmax;
    background-color: blue;
    float: left;
    padding: min(2vmin, 0.5vmax);
  }

  .tract-image {
    max-height: 80vmin;
    height: 20vmax;
    max-width: 80vmin;
    width: 20vmax;
    background-color: yellow;
    float: left;
  }
}

/* Moderately Fat */

@media (max-aspect-ratio: 2/1) and (min-aspect-ratio: 1/1) {
  .comments-text-area {
    padding: 2vmin;
  }

  h1 {
    font-size: 4vmin;
    font-weight: 700;
  }

  h2 {
    font-size: 3.5vmin;
    font-weight: 700;
  }

  h3 {
    font-size: 3vmin;
    font-weight: 700;
  }

  p {
    font-size: 2.5vmin;
    font-weight: 100;
  }

  .tract-title {
    height: 7vmin;
    width: 50vmin;
    background-color: white;
  }

  .tract-content {
    height: 80vmin;
    width: 40vmin;
    background-color: #6e0228;
    display: flex;
    flex-direction: column;
  }

  .carousel {
    height: 80vmin;
    width: 45vmin;
  }

  .carousel-left-arrow {
    height: 40vmin;
    width: 2.5vmin;
    background-color: pink;
    float: left;
  }

  .carousel-right-arrow {
    height: 40vmin;
    width: 2.5vmin;
    background-color: turquoise;
    float: left;
  }

  .tract-text {
    height: 38vmin;
    width: 38vmin;
    background-color: blue;
    float: left;
    padding: 1vmin;
  }

  .tract-image {
    height: 40vmin;
    width: 40vmin;
    background-color: yellow;
    float: left;
  }
}

/* Moderately Thin */

@media (max-aspect-ratio: 1/1) and (min-aspect-ratio: 1/2) {
}

/* Very Thin */

@media (max-aspect-ratio: 1/2) {
}

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100;700&display=swap');
